.main-orange {
  background: #F78600 !important; }

.main-grey {
  background: #f0f0f0 !important; }

.text-grey {
  color: #DCDCDC; }

h1 {
  font-weight: 550 !important;
  letter-spacing: 1.2px !important;
  line-height: 1.3 !important; }

.text-white {
  color: #fff; }

.orange-text {
  color: #F78600; }

.text-black {
  color: #333; }

.btn-blue {
  background: #2174E3; }

.space-up {
  padding-top: 150px; }

.lit-space {
  padding-top: 50px; }

.mid-space {
  padding-top: 100px; }

.text-orange {
  color: #F78600; }
  .text-orange:hover {
    color: #F78600; }

.poppins {
  font-family: "Poppins", sans-serif; }

.open {
  font-family: "Open Sans", sans-serif; }

.bold {
  font-weight: bold; }

.rounded-custom {
  border-radius: 2px; }

.medium {
  font-weight: 500; }

.grey {
  color: #666; }

p {
  color: #777474;
  font-weight: 500;
  letter-spacing: .4px;
  line-height: 1.7;
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

.btn-transparent {
  background: transparent; }

.btn-outline-dashed-orange {
  border: 0.7px dashed #F78600 !important; }

@media screen and (max-width: 767px) {
  .sm-order-2 {
    order: 2 !important; }

  .sm-order-1 {
    order: 1 !important; }

  .lit-space {
    padding-top: 100px; }

  .space-up {
    padding-top: 50px; } }
.btn:not(:disabled):not(.disabled) {
  font-weight: 550 !important; }

/*# sourceMappingURL=component.css.map */
