@import "variable";
.main-orange
{
	background:$main-orange !important;	
}
.main-grey{
	background: #f0f0f0 !important;
}
.text-grey
{
color: #DCDCDC;
}
.btn-outline-dashed
{

}

h1{
	font-weight: 550 !important;
	letter-spacing: 1.2px !important;
	line-height: 1.3 !important;

}
.text-white{
	color: $text-white;
}
.orange-text{
	color: $main-orange;
}
.text-black{
	color: $black-text;
}
.btn-blue
{
	background: #2174E3;
}
.space-up{
	padding-top:150px;
}
.lit-space{
	padding-top:50px;
}
.mid-space{
	padding-top:100px
}
.text-orange
{
	color: $main-orange;
	&:hover{
		color: $main-orange;
	}
}
.poppins{
	font-family: $poppins;
}
.open{
	font-family: $opensan;
}
.bold{
	font-weight: bold;
}
.rounded-custom{
	border-radius: 2px;
}
.medium{
	font-weight: 500;
}
.grey{
	color: $grey;
}
.none{

}

//custom

p{
	color: #777474;
	font-weight: 500;
	letter-spacing: .4px;
	line-height: 1.7;
	font-family: $opensan;
	font-size: 14px;	



}


.btn-transparent{
	background: transparent;
}
.btn-outline-dashed-orange
{
	border:.7px dashed $main-orange !important;

}
@media screen and(max-width: 767px)
{



	
	.sm-order-2
{
order:2 !important;	
}

.sm-order-1
{
order:1 !important;	
}

.lit-space{
	padding-top:100px;
}

.space-up{
	padding-top: 50px;
}
}


.btn:not(:disabled):not(.disabled){
	font-weight: 550 !important;
}