@import 'mixin';
@import 'variable';
@import 'component.css';
// @import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

// .mask-1{
// 	bottom:-1px;
//     left:1px;
//     width:60%;
// }
// .mask-2{
// 	bottom:-1px;
//     right:1px;
//     width:50%;
// }
// .mask-3{
// 	top:-1px;
//     right:1px;
//     width:50%;
// }	
header{
	position: fixed !important;
	width: 100%;
	padding: 20px 0 !important;
	background: #fff !important;
	@include transition(.4s ease);
	z-index: 999;
	&.scroll{
		@include box-shadow(0px 0px 20px 0px rgba(0,0,0,0.1));
		padding: 10px 0 !important ;
		.navbar-brand {
	img {
		height: 45px;
		}
	}
	}
	.navbar-brand {
	img {
		height: 50px;
		@include transition(.4s ease);
		}
	}
}

.nav-item{
	a{
		color: $black-text; 
	}
}
.main-title{
	font-size: 31px;
}
.half{
		width:100%;
}

.vertical-text-center
{
	justify-content:center;
	display: flex;
	flex-direction:column;
}

.btn-shadow
{
	@include box-shadow(0px 5px 25px 0px rgba(0,0,0,.02));
	&:hover{
		@include box-shadow(0px 7px 30px 0px rgba(0,0,0,.05) !important);
	}
}

.border{
    width: 100%;
    position:relative;
    margin:10px;
    background: #F0F0F0;
    &:before{
		  content : "";
		  position: absolute;
		  top    : 0;
		  z-index: 100;
		  right  : 0;
		  width  : 100%;
		  height   : 2px;  /* or 100px */
		  background: #555;
	}&:after {
			  content : "";
			  position: absolute;
			  right: 0;
			  z-index: 100;
			  top: 0;
			  width: 2px;
			  height: 80%;  /* or 100px */
			  background: #555;
			}
}


.mask-1, .mask-2, .mask-3{
	position: absolute;
    height: 2px;
    background-color:#fff;

}
.spacing{
	padding: 20px;
}
.card{
	
	&:before
		{
		content : "";
		position: absolute;
		bottom    : 0;
		z-index: 100;
		right  : 0;
		width  : 90%;
		height   : 2px;  /* or 100px */
		background: #000;
	}&:after 
		{
		content : "";
		position: absolute;
		right: 0;
		z-index: 100;
		bottom: 0;
		width: 3px;
		height: 80%;  /* or 100px */
		background: #000;
		}
}
// .texted{
// 	p{
// 		margin-bottom: 5px;
// 	}
// }
.logo-foot{
	height:100px;
}
.pricing-btn{
	right: 125px;
	bottom: 90px;
}
.btn{

	font-weight: 550 !important;
		@include transition(.3s ease-in-out);
		border-radius: 2.5px;
	&:hover{
@include box-shadow(0px 1px 10px 0px rgba(0,0,0,0.15));
		&.btn-orange{
			
		background: #E37D00 !important;
		}
		&.btn-blue{
			background: #0954B5 !important;
		}
	}
}
.resp-show{
	display: none;
}



.over-to
{
	padding:5px;
	border:1.4px  dashed transparent;
	@include transition(.2s ease-in-out);
	&:hover{
		border-color: #2174E3;
		@include box-shadow(0px 7px 20px 0px rgba(0,0,0,.08));
	}
}



@media screen and (max-width:1024px){
	.pricing-btn{
		right: 90px;
	}
	.full-bg{
		background-position: center;
	}
}

@media screen and (max-width:768px){
	.pricing-btn{
		right: 115px;
	}
	.full-bg{
		background-position: left;
	}
}


@media screen and (max-width:450px){
	.resp-show{
		display: block;
	}
	.desk-show{
		display: none;
	}
	.pricing-btn{
		right: 155px;
	}

}
@media screen and (max-width:375px){
	.pricing-btn{
		right: 120px;
	}
}
@media screen and (max-width:320px){
	.pricing-btn{
		right: 95px;
	}
}

.navbar-light .navbar-nav .nav-link
{
	font-weight: 650;
	color: #333333 !important;
	font-size: 14px;
	&.btn:hover{
		color: #333333;
	}
}
.navbar-light .navbar-nav .nav-link.active
{
	position: relative;
	
		color: $main-orange !important;


	&:after{
		height: 5px;
		width: 5px;
		content: '';
		left: 0;
		right: 0;
		position: absolute;
		bottom: -5px;
		margin:0 auto;
		display: flex;
		border-radius: 100%;
		color: $main-orange;
		background: $main-orange;
	}
}

.navbar-button
{
	border:2px dashed $main-orange !important;
	background: transparent !important;
	color: $main-orange !important;
	&:hover{
		border:2px solid $main-orange !important;
		color: #fff !important;
	}
}



.space-content
{
	padding-top: 150px;
}

.loader
{
	position: fixed;
	display: none;
	height: 100%;
	width: 100%;
	background: #fff;
	z-index: 999999999999999999999999;
	left: 0;
	top: 0;
	.loading
	{
		height: 100%;
		width: 100%;
		display: flex;
		align-items:center;
		vertical-align: middle;
		justify-content:center;
		align-items:center;

	}
}

.navbar-toggler
{
	span{
		background: $main-orange;
		width: 35px;
		height: 3px;
		margin: 8px 0;
		border-radius: 10px;
		display: block;
		@include transition(.2s ease);
		&:first-child{
			position: relative;
			top: 10px;
			left: 1px;
			@include transform(rotate(45deg));
		}
		&:last-child{
			position: relative;
			top: -11px;
			left: 1px;
			@include transform(rotate(-45deg));
		}
		&:nth-child(2)
		{
			width: 0px;
		}
	}

}

.navbar-toggler.collapsed
{
	span{
		background: $main-orange;
		width: 35px;
		height: 3px;
		margin: 8px 0;
		border-radius: 10px;
		display: block;
		@include transition(.2s ease);
		&:first-child{
			position: relative;
			top: 0px;
			left: 0px;
			@include transform(rotate(0deg));
		}
		&:last-child{
			position: relative;
			top: 0px;
			left: 0px;
			@include transform(rotate(-0deg));
		}
		&:nth-child(2)
		{
			width: 35px;
		}
	}

}

section.full-bg 
{
	.canvas{
		background-color: #F0F0F0;
	}
	.over-images
	{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

footer{
	ul{
		li{
			float: left;
			list-style: none;
			padding: 0px 2px;
			font-weight: 300 !important;
				a{

					text-decoration: none;
					color: #333 !important ;
					font-weight: 300 !important;
					&:hover{
						@include box-shadow(0 0 0 0 rgba(0,0,0,0) !important);
					}
				}

			&:first-child{
				padding-left: 0px;
				a{
					padding-left: 0px;
				}

			}



		}
	}
}


@media screen and(max-width: 767px)
{

	footer{
		ul{
			justify-content:center;
			display: flex;
		}
	}

	section.full-bg .canvas
	{
		@include overflow-x(hidden);
	}

	.space-content
	{
		padding-top: 20px;
	}
	.navbar-toggler
	{
		border:unset !important;
		color: $main-orange;
		@include normal-button();
		span{
			color: $main-orange !important;
		}
	}

	header{
	position: fixed !important;
	width: 100%;
	padding: 10px 20px !important;
	background: #fff !important;
	@include transition(.4s ease);
	z-index: 9999999999;
	&.scroll{
		@include box-shadow(0px 0px 20px 0px rgba(0,0,0,0.1));
		padding: 10px 20px !important ;
		.navbar-brand {
	img {
		height: 50px;
		}
	}
	}
}
.navbar-light .navbar-nav .nav-link.active
{

	&:after{
		display: none !important;
	}
}
.navbar-button
{
	border:.7px solid $main-orange !important;
		color: #fff !important;
		background:  $main-orange !important;
		margin-left: 15px;
		margin-left: 20px;
}



}


