@import url(component.css);
* {
  margin: 0;
  padding: 0; }

header {
  position: fixed !important;
  width: 100%;
  padding: 20px 0 !important;
  background: #fff !important;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  transition: 0.4s ease;
  z-index: 999; }
  header.scroll {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 0 !important; }
    header.scroll .navbar-brand img {
      height: 45px; }
  header .navbar-brand img {
    height: 50px;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    transition: 0.4s ease; }

.nav-item a {
  color: #333; }

.main-title {
  font-size: 31px; }

.half {
  width: 100%; }

.vertical-text-center {
  justify-content: center;
  display: flex;
  flex-direction: column; }

.btn-shadow {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.02);
  -o-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.02);
  -ms-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.02); }
  .btn-shadow:hover {
    box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.05) !important;
    -moz-box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.05) !important;
    -o-box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.05) !important;
    -webkit-box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.05) !important;
    -ms-box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.05) !important; }

.border {
  width: 100%;
  position: relative;
  margin: 10px;
  background: #F0F0F0; }
  .border:before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 100;
    right: 0;
    width: 100%;
    height: 2px;
    /* or 100px */
    background: #555; }
  .border:after {
    content: "";
    position: absolute;
    right: 0;
    z-index: 100;
    top: 0;
    width: 2px;
    height: 80%;
    /* or 100px */
    background: #555; }

.mask-1, .mask-2, .mask-3 {
  position: absolute;
  height: 2px;
  background-color: #fff; }

.spacing {
  padding: 20px; }

.card:before {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 100;
  right: 0;
  width: 90%;
  height: 2px;
  /* or 100px */
  background: #000; }
.card:after {
  content: "";
  position: absolute;
  right: 0;
  z-index: 100;
  bottom: 0;
  width: 3px;
  height: 80%;
  /* or 100px */
  background: #000; }

.logo-foot {
  height: 100px; }

.pricing-btn {
  right: 125px;
  bottom: 90px; }

.btn {
  font-weight: 550 !important;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 2.5px; }
  .btn:hover {
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15); }
    .btn:hover.btn-orange {
      background: #E37D00 !important; }
    .btn:hover.btn-blue {
      background: #0954B5 !important; }

.resp-show {
  display: none; }

.over-to {
  padding: 5px;
  border: 1.4px  dashed transparent;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .over-to:hover {
    border-color: #2174E3;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.08); }

@media screen and (max-width: 1024px) {
  .pricing-btn {
    right: 90px; }

  .full-bg {
    background-position: center; } }
@media screen and (max-width: 768px) {
  .pricing-btn {
    right: 115px; }

  .full-bg {
    background-position: left; } }
@media screen and (max-width: 450px) {
  .resp-show {
    display: block; }

  .desk-show {
    display: none; }

  .pricing-btn {
    right: 155px; } }
@media screen and (max-width: 375px) {
  .pricing-btn {
    right: 120px; } }
@media screen and (max-width: 320px) {
  .pricing-btn {
    right: 95px; } }
.navbar-light .navbar-nav .nav-link {
  font-weight: 650;
  color: #333333 !important;
  font-size: 14px; }
  .navbar-light .navbar-nav .nav-link.btn:hover {
    color: #333333; }

.navbar-light .navbar-nav .nav-link.active {
  position: relative;
  color: #F78600 !important; }
  .navbar-light .navbar-nav .nav-link.active:after {
    height: 5px;
    width: 5px;
    content: '';
    left: 0;
    right: 0;
    position: absolute;
    bottom: -5px;
    margin: 0 auto;
    display: flex;
    border-radius: 100%;
    color: #F78600;
    background: #F78600; }

.navbar-button {
  border: 2px dashed #F78600 !important;
  background: transparent !important;
  color: #F78600 !important; }
  .navbar-button:hover {
    border: 2px solid #F78600 !important;
    color: #fff !important; }

.space-content {
  padding-top: 150px; }

.loader {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 999999999999999999999999;
  left: 0;
  top: 0; }
  .loader .loading {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center; }

.navbar-toggler span {
  background: #F78600;
  width: 35px;
  height: 3px;
  margin: 8px 0;
  border-radius: 10px;
  display: block;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease; }
  .navbar-toggler span:first-child {
    position: relative;
    top: 10px;
    left: 1px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg); }
  .navbar-toggler span:last-child {
    position: relative;
    top: -11px;
    left: 1px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg); }
  .navbar-toggler span:nth-child(2) {
    width: 0px; }

.navbar-toggler.collapsed span {
  background: #F78600;
  width: 35px;
  height: 3px;
  margin: 8px 0;
  border-radius: 10px;
  display: block;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease; }
  .navbar-toggler.collapsed span:first-child {
    position: relative;
    top: 0px;
    left: 0px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg); }
  .navbar-toggler.collapsed span:last-child {
    position: relative;
    top: 0px;
    left: 0px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg); }
  .navbar-toggler.collapsed span:nth-child(2) {
    width: 35px; }

section.full-bg .canvas {
  background-color: #F0F0F0; }
section.full-bg .over-images {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }

footer ul li {
  float: left;
  list-style: none;
  padding: 0px 2px;
  font-weight: 300 !important; }
  footer ul li a {
    text-decoration: none;
    color: #333 !important;
    font-weight: 300 !important; }
    footer ul li a:hover {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
      -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
      -ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important; }
  footer ul li:first-child {
    padding-left: 0px; }
    footer ul li:first-child a {
      padding-left: 0px; }

@media screen and (max-width: 767px) {
  footer ul {
    justify-content: center;
    display: flex; }

  section.full-bg .canvas {
    overflow-x: hidden;
    -moz-overflow-x: hidden;
    -o-overflow-x: hidden;
    -webkit-overflow-x: hidden;
    -ms-overflow-x: hidden; }

  .space-content {
    padding-top: 20px; }

  .navbar-toggler {
    border: unset !important;
    color: #F78600;
    border: 0;
    cursor: pointer; }
    .navbar-toggler:focus {
      outline: 0; }
    .navbar-toggler span {
      color: #F78600 !important; }

  header {
    position: fixed !important;
    width: 100%;
    padding: 10px 20px !important;
    background: #fff !important;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    transition: 0.4s ease;
    z-index: 9999999999; }
    header.scroll {
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
      padding: 10px 20px !important; }
      header.scroll .navbar-brand img {
        height: 50px; }

  .navbar-light .navbar-nav .nav-link.active:after {
    display: none !important; }

  .navbar-button {
    border: 0.7px solid #F78600 !important;
    color: #fff !important;
    background: #F78600 !important;
    margin-left: 15px;
    margin-left: 20px; } }

/*# sourceMappingURL=main.css.map */
